<%= link_to "Add Email Address", new_stat_email_path %>
<table class="margin-auto">
  <tr>
    <td>
      <%= render 'happy_form' %>
    </td>
    <td>
      <%= render 'sad_form' %>
    </td>
  </tr>
</table>
