<%= link_to "Add An Email Address", new_stat_email_path %>
<%= link_to "Email The Past Month's Stats", stat_emails_path %>
<table class="margin-auto">
  <tr>
    <td>
      <%= render 'happy_form' %>
    </td>
    <td>
      <%= render 'sad_form' %>
    </td>
  </tr>
</table>
