<% (1..30).each do |n| %>
<p>Happiness <%= n %> days ago: <%= Mood.where('created_at > ?', n.days.ago).where('created_at < ?', (n-1).days.ago).happiness %></p>
<p>Sadness <%= n %> days ago: <%= Mood.where('created_at > ?', n.days.ago).where('created_at < ?', (n-1).days.ago).sadness %></p>
<% end %>
